@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-[#f4f4f4] font-sans selection:bg-brand-purple selection:text-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading uppercase tracking-widest;
  }
}

/* Custom Utilities */
.masonry-grid {
    column-count: 1;
    column-gap: 1.5rem;
}
@media (min-width: 768px) {
    .masonry-grid {
        column-count: 2;
    }
}
@media (min-width: 1024px) {
    .masonry-grid {
        column-count: 3;
    }
}
.masonry-item {
    break-inside: avoid;
    margin-bottom: 1.5rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #121212;
}
::-webkit-scrollbar-thumb {
    @apply bg-brand-purple rounded-full;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-pink;
}
